:root {
  --color-roman1: #cad5e0;
  --color-roman2: #5b5b95;
  --color-roman3: #da6b61;
  --color-roman4: #f5da99;
  --color-io1: #fdeeea;
  --color-io2: #f0838a;
  --color-io3: #8b1f22;
  --color-io4: #422624;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  margin: 16px;
  background-color: #fafafa;
  color: #222;
}